
.loading-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #f8f9fa;
}

.loading-logo {
    width: 85px;
    height: 85px;
    display: inline-block;
    background: url("../../../public/images/logo.png") no-repeat center center;
    background-size: contain;

}

.loading-brand-name {
    width: 275px;
    height: 175px;
    display: inline-block;
    background: url("../../../public/images/brand-name-2.png") no-repeat center center;
    background-size: contain;
}

.loading-signature {
    width: 275px;
    height: 175px;
    display: inline-block;
    background: url("../../../public/images/signature.png") no-repeat center center;
    background-size: contain;
}