
.modal-wrap {
    display: inline;
}

.btn-close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 7px;
    cursor: pointer;
}

.react-responsive-modal-modal {
    background: #f1f1f1;
    border-radius: 10px;
    min-width: 1000px !important;
    max-width: 1000px !important;
    height: auto;
    padding: 0 !important;
    overflow-y: hidden;
}

.react-responsive-modal-closeButton {
   display: none !important;
}

.react-responsive-modal-modal .head-modal {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(1,38,90,0.9);
    /*background-color: white;*/
    background-size: cover;
    padding: 14px 48px;
    /*color: #3A3B3C;*/
    color: white;
    border-bottom: 1px solid #E5E4E7;
    display: flex;
    justify-content: left;
}

.react-responsive-modal-modal .head-modal h3 {
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
    margin: 0;
}


.react-responsive-modal-modal .modal-content {
    /*line-height: 1.4;*/
    padding: 30px 48px;
    /*height: 100%;*/
    border: 0;
}

.react-responsive-modal-modal .modal-content form .modal-buttons{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-right: 10px;
}


.react-responsive-modal-modal .modal-content form .label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}

.react-responsive-modal-modal .modal-content form input {
    display: block;
    padding: 5px 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid lightgrey;
}

.react-responsive-modal-modal .modal-content form textarea {
    width: 100%;
    resize: none;
    border-radius: 3px;
    border: 1px solid lightgrey;
    padding: 5px 10px;
}

.description-textarea {
    height: 285px;
}

.application-textarea {
    height: 100px;
    /*margin-bottom: 20px;*/
}

.resume-link {
    display: block;
    padding: 5px 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid lightgrey;
}
.custom {
    margin-top: 10px;
}

input:focus, textarea:focus {
    outline-color: cornflowerblue;
}

.modal-buttons button, .modal-buttons div  {
    position: relative;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    /*text-transform: uppercase;*/
    font-weight: 500;
    margin-top: 15px;
    cursor: pointer
}

.modal-buttons .submit-btn {
    background: #06367a;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.modal-buttons .submit-btn:hover {
    background-color: #2e579b;
}

.modal-buttons .cancel-btn {
    color: #858B96;
    background-color: #F0F0F0;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.modal-buttons .cancel-btn:hover {
    background-color: #e0e0e0;
    color: #555;
}

.category-option {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* DELETE MODAL */

.modal-delete-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 25px;
}

.modal-delete-content {
    padding: 20px 25px;
}

.modal-delete-content-inside {
    display: flex;
    align-items: center;
}

.modal-delete-text {
    padding-left: 35px;

}

.modal-delete-text p {
    margin: 0;
}


.modal-delete-buttons .cancel-btn, .modal-delete-buttons .delete-btn {
    display: inline;
    border: none;
    padding: 5px 25px 5px 25px;
    border-radius: 7px;
}

.modal-delete-buttons .delete-btn {
    background-color: red;
    color: white;
}

.x-icon {
    transform: scale(3.3) !important;
    color: #D93936 !important;
    padding: 0 15px !important;
    /*margin-top: 20px !important;*/
}

.ql-snow .ql-picker.ql-font {
    display: none;
}
.ql-toolbar.ql-snow .ql-picker-options {
    background-color: white;
}
.ql-snow .ql-tooltip {
    transform: translateX(100px) !important;
}





